<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.aurorahdr2019.auh</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>documentbundle</string>
	<key>CFBundlePackageType</key>
	<string>auh</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>6438</string>
	<key>MPHistoryDict</key>
	<dict>
		<key>cachedTexturesBookmarksDict</key>
		<dict>
			<key>/Users/peternguyen/Library/Application Support/MacPhun Software/Aurora HDR/History/995CB797-4E88-4DFB-A7F3-07DE55216439/resources/22CBD30A-DBE1-47E2-AFA2-39F1153A0055.cube</key>
			<data>
			Ym9vawAEAAAAAAQQMAAAAM8r9xTjFnZ3h2AYe//8PQdkR+jfL6k+
			juLvlDQW0E7A/AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAALAAAAAQEAAHBldGVybmd1eWVuAAcAAAABAQAATGlicmFyeQAT
			AAAAAQEAAEFwcGxpY2F0aW9uIFN1cHBvcnQAEAAAAAEBAABNYWNQ
			aHVuIFNvZnR3YXJlCgAAAAEBAABBdXJvcmEgSERSAAAHAAAAAQEA
			AEhpc3RvcnkAJAAAAAEBAAA5OTVDQjc5Ny00RTg4LTRERkItQTdG
			My0wN0RFNTUyMTY0MzkJAAAAAQEAAHJlc291cmNlcwAAACkAAAAB
			AQAAMjJDQkQzMEEtREJFMS00N0UyLUFGQTItMzlGMTE1M0EwMDU1
			LmN1YmUAAAAoAAAAAQYAABAAAAAgAAAANAAAAEQAAABgAAAAeAAA
			AIwAAACcAAAAyAAAANwAAAAIAAAABAMAACNTAAADAAAACAAAAAQD
			AACPcwAAAwAAAAgAAAAEAwAAlnMAAAMAAAAIAAAABAMAAJdzAAAD
			AAAACAAAAAQDAABG5PgAAwAAAAgAAAAEAwAAUC75AAMAAAAIAAAA
			BAMAAHcw+QADAAAACAAAAAQDAAB5MPkAAwAAAAgAAAAEAwAAejD5
			AAMAAAAIAAAABAMAABEx+QADAAAAKAAAAAEGAABAAQAAUAEAAGAB
			AABwAQAAgAEAAJABAACgAQAAsAEAAMABAADQAQAACAAAAAAEAABB
			wrG+IAAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
			CAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmls
			ZTovLy8IAAAAAQEAAFBldGVyYmMxCAAAAAQDAAAAkCBgdAAAAAgA
			AAAABAAAQcHeRIAAAAAkAAAAAQEAADc4MjI2QTlELTdGQTAtMzM4
			My1BNEFCLURCMDI1NTU4NkJCRRgAAAABAgAAgQAAAAEAAADvEwAA
			AQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v//
			/wEAAAAAAAAAEAAAAAQQAAAQAQAAAAAAAAUQAADgAQAAAAAAABAQ
			AAAgAgAAAAAAAEAQAAAQAgAAAAAAAAIgAADoAgAAAAAAAAUgAABc
			AgAAAAAAABAgAABsAgAAAAAAABEgAACcAgAAAAAAABIgAAB8AgAA
			AAAAABMgAACMAgAAAAAAACAgAADIAgAAAAAAADAgAAD0AgAAAAAA
			AAHAAABAAgAAAAAAABHAAAAgAAAAAAAAABLAAABQAgAAAAAAABDQ
			AAAEAAAAAAAAAA==
			</data>
			<key>/Users/peternguyen/Library/Application Support/MacPhun Software/Aurora HDR/History/995CB797-4E88-4DFB-A7F3-07DE55216439/resources/D5E998C7-FB2D-43A1-94FF-A271110C0E61.cube</key>
			<data>
			Ym9vawAEAAAAAAQQMAAAAIhVc9m8SvRRCDdq5OfV7TD519ahXFBX
			S49lhYe6CIuV/AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAALAAAAAQEAAHBldGVybmd1eWVuAAcAAAABAQAATGlicmFyeQAT
			AAAAAQEAAEFwcGxpY2F0aW9uIFN1cHBvcnQAEAAAAAEBAABNYWNQ
			aHVuIFNvZnR3YXJlCgAAAAEBAABBdXJvcmEgSERSAAAHAAAAAQEA
			AEhpc3RvcnkAJAAAAAEBAAA5OTVDQjc5Ny00RTg4LTRERkItQTdG
			My0wN0RFNTUyMTY0MzkJAAAAAQEAAHJlc291cmNlcwAAACkAAAAB
			AQAARDVFOTk4QzctRkIyRC00M0ExLTk0RkYtQTI3MTExMEMwRTYx
			LmN1YmUAAAAoAAAAAQYAABAAAAAgAAAANAAAAEQAAABgAAAAeAAA
			AIwAAACcAAAAyAAAANwAAAAIAAAABAMAACNTAAADAAAACAAAAAQD
			AACPcwAAAwAAAAgAAAAEAwAAlnMAAAMAAAAIAAAABAMAAJdzAAAD
			AAAACAAAAAQDAABG5PgAAwAAAAgAAAAEAwAAUC75AAMAAAAIAAAA
			BAMAAHcw+QADAAAACAAAAAQDAAB5MPkAAwAAAAgAAAAEAwAAejD5
			AAMAAAAIAAAABAMAAOUw+QADAAAAKAAAAAEGAABAAQAAUAEAAGAB
			AABwAQAAgAEAAJABAACgAQAAsAEAAMABAADQAQAACAAAAAAEAABB
			wrG+IAAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
			CAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmls
			ZTovLy8IAAAAAQEAAFBldGVyYmMxCAAAAAQDAAAAkCBgdAAAAAgA
			AAAABAAAQcHeRIAAAAAkAAAAAQEAADc4MjI2QTlELTdGQTAtMzM4
			My1BNEFCLURCMDI1NTU4NkJCRRgAAAABAgAAgQAAAAEAAADvEwAA
			AQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v//
			/wEAAAAAAAAAEAAAAAQQAAAQAQAAAAAAAAUQAADgAQAAAAAAABAQ
			AAAgAgAAAAAAAEAQAAAQAgAAAAAAAAIgAADoAgAAAAAAAAUgAABc
			AgAAAAAAABAgAABsAgAAAAAAABEgAACcAgAAAAAAABIgAAB8AgAA
			AAAAABMgAACMAgAAAAAAACAgAADIAgAAAAAAADAgAAD0AgAAAAAA
			AAHAAABAAgAAAAAAABHAAAAgAAAAAAAAABLAAABQAgAAAAAAABDQ
			AAAEAAAAAAAAAA==
			</data>
			<key>/Users/peternguyen/Library/Application Support/MacPhun Software/Aurora HDR/History/995CB797-4E88-4DFB-A7F3-07DE55216439/resources/E0E1D156-C448-4E57-946B-5228DCE1E8F2.cube</key>
			<data>
			Ym9vawAEAAAAAAQQMAAAAMgqLfQ0lE+quP2eS+BtVXAWCBVsaE4O
			nThRmoVEdu/U/AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAALAAAAAQEAAHBldGVybmd1eWVuAAcAAAABAQAATGlicmFyeQAT
			AAAAAQEAAEFwcGxpY2F0aW9uIFN1cHBvcnQAEAAAAAEBAABNYWNQ
			aHVuIFNvZnR3YXJlCgAAAAEBAABBdXJvcmEgSERSAAAHAAAAAQEA
			AEhpc3RvcnkAJAAAAAEBAAA5OTVDQjc5Ny00RTg4LTRERkItQTdG
			My0wN0RFNTUyMTY0MzkJAAAAAQEAAHJlc291cmNlcwAAACkAAAAB
			AQAARTBFMUQxNTYtQzQ0OC00RTU3LTk0NkItNTIyOERDRTFFOEYy
			LmN1YmUAAAAoAAAAAQYAABAAAAAgAAAANAAAAEQAAABgAAAAeAAA
			AIwAAACcAAAAyAAAANwAAAAIAAAABAMAACNTAAADAAAACAAAAAQD
			AACPcwAAAwAAAAgAAAAEAwAAlnMAAAMAAAAIAAAABAMAAJdzAAAD
			AAAACAAAAAQDAABG5PgAAwAAAAgAAAAEAwAAUC75AAMAAAAIAAAA
			BAMAAHcw+QADAAAACAAAAAQDAAB5MPkAAwAAAAgAAAAEAwAAejD5
			AAMAAAAIAAAABAMAANMw+QADAAAAKAAAAAEGAABAAQAAUAEAAGAB
			AABwAQAAgAEAAJABAACgAQAAsAEAAMABAADQAQAACAAAAAAEAABB
			wrG+IAAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
			CAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmls
			ZTovLy8IAAAAAQEAAFBldGVyYmMxCAAAAAQDAAAAkCBgdAAAAAgA
			AAAABAAAQcHeRIAAAAAkAAAAAQEAADc4MjI2QTlELTdGQTAtMzM4
			My1BNEFCLURCMDI1NTU4NkJCRRgAAAABAgAAgQAAAAEAAADvEwAA
			AQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v//
			/wEAAAAAAAAAEAAAAAQQAAAQAQAAAAAAAAUQAADgAQAAAAAAABAQ
			AAAgAgAAAAAAAEAQAAAQAgAAAAAAAAIgAADoAgAAAAAAAAUgAABc
			AgAAAAAAABAgAABsAgAAAAAAABEgAACcAgAAAAAAABIgAAB8AgAA
			AAAAABMgAACMAgAAAAAAACAgAADIAgAAAAAAADAgAAD0AgAAAAAA
			AAHAAABAAgAAAAAAABHAAAAgAAAAAAAAABLAAABQAgAAAAAAABDQ
			AAAEAAAAAAAAAA==
			</data>
			<key>/Users/peternguyen/Library/Application Support/MacPhun Software/Aurora HDR/History/995CB797-4E88-4DFB-A7F3-07DE55216439/resources/E175F220-8605-4A07-AEF4-5A1745366AD9.cube</key>
			<data>
			Ym9vawAEAAAAAAQQMAAAAKjTgL3orGR2BvJzo5nmj0kAAfU92BpG
			hVZ6Ky1uGMqB/AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAALAAAAAQEAAHBldGVybmd1eWVuAAcAAAABAQAATGlicmFyeQAT
			AAAAAQEAAEFwcGxpY2F0aW9uIFN1cHBvcnQAEAAAAAEBAABNYWNQ
			aHVuIFNvZnR3YXJlCgAAAAEBAABBdXJvcmEgSERSAAAHAAAAAQEA
			AEhpc3RvcnkAJAAAAAEBAAA5OTVDQjc5Ny00RTg4LTRERkItQTdG
			My0wN0RFNTUyMTY0MzkJAAAAAQEAAHJlc291cmNlcwAAACkAAAAB
			AQAARTE3NUYyMjAtODYwNS00QTA3LUFFRjQtNUExNzQ1MzY2QUQ5
			LmN1YmUAAAAoAAAAAQYAABAAAAAgAAAANAAAAEQAAABgAAAAeAAA
			AIwAAACcAAAAyAAAANwAAAAIAAAABAMAACNTAAADAAAACAAAAAQD
			AACPcwAAAwAAAAgAAAAEAwAAlnMAAAMAAAAIAAAABAMAAJdzAAAD
			AAAACAAAAAQDAABG5PgAAwAAAAgAAAAEAwAAUC75AAMAAAAIAAAA
			BAMAAHcw+QADAAAACAAAAAQDAAB5MPkAAwAAAAgAAAAEAwAAejD5
			AAMAAAAIAAAABAMAACUx+QADAAAAKAAAAAEGAABAAQAAUAEAAGAB
			AABwAQAAgAEAAJABAACgAQAAsAEAAMABAADQAQAACAAAAAAEAABB
			wrG+IAAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
			CAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmls
			ZTovLy8IAAAAAQEAAFBldGVyYmMxCAAAAAQDAAAAkCBgdAAAAAgA
			AAAABAAAQcHeRIAAAAAkAAAAAQEAADc4MjI2QTlELTdGQTAtMzM4
			My1BNEFCLURCMDI1NTU4NkJCRRgAAAABAgAAgQAAAAEAAADvEwAA
			AQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v//
			/wEAAAAAAAAAEAAAAAQQAAAQAQAAAAAAAAUQAADgAQAAAAAAABAQ
			AAAgAgAAAAAAAEAQAAAQAgAAAAAAAAIgAADoAgAAAAAAAAUgAABc
			AgAAAAAAABAgAABsAgAAAAAAABEgAACcAgAAAAAAABIgAAB8AgAA
			AAAAABMgAACMAgAAAAAAACAgAADIAgAAAAAAADAgAAD0AgAAAAAA
			AAHAAABAAgAAAAAAABHAAAAgAAAAAAAAABLAAABQAgAAAAAAABDQ
			AAAEAAAAAAAAAA==
			</data>
			<key>/Users/peternguyen/Library/Application Support/MacPhun Software/Aurora HDR/History/995CB797-4E88-4DFB-A7F3-07DE55216439/resources/E4D9FA2D-DD3C-46BF-976C-7FC173782DEC.cube</key>
			<data>
			Ym9vawAEAAAAAAQQMAAAAMLhoVB5+sSXphC+uFaTf9l+rtDCZpSP
			6XpUYi4rDCqc/AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAALAAAAAQEAAHBldGVybmd1eWVuAAcAAAABAQAATGlicmFyeQAT
			AAAAAQEAAEFwcGxpY2F0aW9uIFN1cHBvcnQAEAAAAAEBAABNYWNQ
			aHVuIFNvZnR3YXJlCgAAAAEBAABBdXJvcmEgSERSAAAHAAAAAQEA
			AEhpc3RvcnkAJAAAAAEBAAA5OTVDQjc5Ny00RTg4LTRERkItQTdG
			My0wN0RFNTUyMTY0MzkJAAAAAQEAAHJlc291cmNlcwAAACkAAAAB
			AQAARTREOUZBMkQtREQzQy00NkJGLTk3NkMtN0ZDMTczNzgyREVD
			LmN1YmUAAAAoAAAAAQYAABAAAAAgAAAANAAAAEQAAABgAAAAeAAA
			AIwAAACcAAAAyAAAANwAAAAIAAAABAMAACNTAAADAAAACAAAAAQD
			AACPcwAAAwAAAAgAAAAEAwAAlnMAAAMAAAAIAAAABAMAAJdzAAAD
			AAAACAAAAAQDAABG5PgAAwAAAAgAAAAEAwAAUC75AAMAAAAIAAAA
			BAMAAHcw+QADAAAACAAAAAQDAAB5MPkAAwAAAAgAAAAEAwAAejD5
			AAMAAAAIAAAABAMAAC0x+QADAAAAKAAAAAEGAABAAQAAUAEAAGAB
			AABwAQAAgAEAAJABAACgAQAAsAEAAMABAADQAQAACAAAAAAEAABB
			wrG+IAAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
			CAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmls
			ZTovLy8IAAAAAQEAAFBldGVyYmMxCAAAAAQDAAAAkCBgdAAAAAgA
			AAAABAAAQcHeRIAAAAAkAAAAAQEAADc4MjI2QTlELTdGQTAtMzM4
			My1BNEFCLURCMDI1NTU4NkJCRRgAAAABAgAAgQAAAAEAAADvEwAA
			AQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v//
			/wEAAAAAAAAAEAAAAAQQAAAQAQAAAAAAAAUQAADgAQAAAAAAABAQ
			AAAgAgAAAAAAAEAQAAAQAgAAAAAAAAIgAADoAgAAAAAAAAUgAABc
			AgAAAAAAABAgAABsAgAAAAAAABEgAACcAgAAAAAAABIgAAB8AgAA
			AAAAABMgAACMAgAAAAAAACAgAADIAgAAAAAAADAgAAD0AgAAAAAA
			AAHAAABAAgAAAAAAABHAAAAgAAAAAAAAABLAAABQAgAAAAAAABDQ
			AAAEAAAAAAAAAA==
			</data>
			<key>/Users/peternguyen/Library/Mobile Documents/com~apple~CloudDocs/school/Fall2020/Resume/Webpage/nguye359.github.io/img/contacts1.jpeg</key>
			<data>
			Ym9va1QEAAAAAAQQMAAAAH4bu18HKhVLXKorXlhtvukkbmASKfRX
			vmiWsMLHMGQSRAMAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAALAAAAAQEAAHBldGVybmd1eWVuAAcAAAABAQAATGlicmFyeQAQ
			AAAAAQEAAE1vYmlsZSBEb2N1bWVudHMTAAAAAQEAAGNvbX5hcHBs
			ZX5DbG91ZERvY3MABgAAAAEBAABzY2hvb2wAAAgAAAABAQAARmFs
			bDIwMjAGAAAAAQEAAFJlc3VtZQAABwAAAAEBAABXZWJwYWdlABIA
			AAABAQAAbmd1eWUzNTkuZ2l0aHViLmlvAAADAAAAAQEAAGltZwAO
			AAAAAQEAAGNvbnRhY3RzMS5qcGVnAAAwAAAAAQYAABAAAAAgAAAA
			NAAAAEQAAABcAAAAeAAAAIgAAACYAAAAqAAAALgAAADUAAAA4AAA
			AAgAAAAEAwAAI1MAAAMAAAAIAAAABAMAAI9zAAADAAAACAAAAAQD
			AACWcwAAAwAAAAgAAAAEAwAA/osAAAMAAAAIAAAABAMAABiMAAAD
			AAAACAAAAAQDAAAomwsAAwAAAAgAAAAEAwAAxrRJAAMAAAAIAAAA
			BAMAAEtS9AADAAAACAAAAAQDAAAVUvgAAwAAAAgAAAAEAwAAUmz4
			AAMAAAAIAAAABAMAAMts+AADAAAACAAAAAQDAACnFvkAAwAAADAA
			AAABBgAAMAEAAEABAABQAQAAYAEAAHABAACAAQAAkAEAAKABAACw
			AQAAwAEAANABAADgAQAACAAAAAAEAABBwtJyofV/gBgAAAABAgAA
			AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAKAAAAAAAA
			AAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8IAAAAAQEAAFBl
			dGVyYmMxCAAAAAQDAAAAkCBgdAAAAAgAAAAABAAAQcHeRIAAAAAk
			AAAAAQEAADc4MjI2QTlELTdGQTAtMzM4My1BNEFCLURCMDI1NTU4
			NkJCRRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
			AAEBAAAvAAAAAAAAAAEFAAAaAAAAAQEAAE5TVVJMRG9jdW1lbnRJ
			ZGVudGlmaWVyS2V5AAAEAAAAAwMAACp7AgDYAAAA/v///wEAAAAA
			AAAAEQAAAAQQAAD4AAAAAAAAAAUQAADwAQAAAAAAABAQAAA4AgAA
			AAAAAEAQAAAoAgAAAAAAAAIgAAAAAwAAAAAAAAUgAAB0AgAAAAAA
			ABAgAACEAgAAAAAAABEgAAC0AgAAAAAAABIgAACUAgAAAAAAABMg
			AACkAgAAAAAAACAgAADgAgAAAAAAADAgAAAMAwAAAAAAAAHAAABY
			AgAAAAAAABHAAAAgAAAAAAAAABLAAABoAgAAAAAAABDQAAAEAAAA
			AAAAABQDAIA4AwAAAAAAAA==
			</data>
		</dict>
		<key>cachedTexturesDict</key>
		<dict>
			<key>/Applications/Aurora HDR.app/Contents/Resources/Presets/Essentials/Bright Sun.sal/Contents/resources/111F85B6-1AAD-4438-AB57-D683072CA7A7.cube</key>
			<string>22CBD30A-DBE1-47E2-AFA2-39F1153A0055.cube</string>
			<key>/Applications/Aurora HDR.app/Contents/Resources/Presets/Essentials/Deep.sal/Contents/resources/3D360557-ABB5-4FBE-9528-8396E03C0E4E.cube</key>
			<string>E4D9FA2D-DD3C-46BF-976C-7FC173782DEC.cube</string>
			<key>/Applications/Aurora HDR.app/Contents/Resources/Presets/Essentials/Detailed.sal/Contents/resources/04B262E8-E317-43C4-AFCB-42CD583BF971.cube</key>
			<string>D5E998C7-FB2D-43A1-94FF-A271110C0E61.cube</string>
			<key>/Applications/Aurora HDR.app/Contents/Resources/Presets/Essentials/Glowing.sal/Contents/resources/687C0C51-6A74-4756-A24A-1107348C97C8.cube</key>
			<string>E175F220-8605-4A07-AEF4-5A1745366AD9.cube</string>
			<key>/Applications/Aurora HDR.app/Contents/Resources/Presets/Essentials/Vivid.sal/Contents/resources/544DCCC1-C65D-445B-97DA-CC5190F62354.cube</key>
			<string>E0E1D156-C448-4E57-946B-5228DCE1E8F2.cube</string>
			<key>/Users/peternguyen/Library/Application Support/MacPhun Software/Aurora HDR/History/995CB797-4E88-4DFB-A7F3-07DE55216439/resources/22CBD30A-DBE1-47E2-AFA2-39F1153A0055.cube</key>
			<string>747DD168-172F-4EA7-BDE4-EA96E37519DF.cube</string>
			<key>/Users/peternguyen/Library/Application Support/MacPhun Software/Aurora HDR/History/995CB797-4E88-4DFB-A7F3-07DE55216439/resources/D5E998C7-FB2D-43A1-94FF-A271110C0E61.cube</key>
			<string>A8D3AA03-41BA-4B77-BABB-104F426A0E26.cube</string>
			<key>/Users/peternguyen/Library/Application Support/MacPhun Software/Aurora HDR/History/995CB797-4E88-4DFB-A7F3-07DE55216439/resources/E0E1D156-C448-4E57-946B-5228DCE1E8F2.cube</key>
			<string>55B0639D-99AD-4B17-8ED0-DDD272FF2856.cube</string>
			<key>/Users/peternguyen/Library/Application Support/MacPhun Software/Aurora HDR/History/995CB797-4E88-4DFB-A7F3-07DE55216439/resources/E175F220-8605-4A07-AEF4-5A1745366AD9.cube</key>
			<string>6493673A-4CE8-421B-96A1-508C94F5E097.cube</string>
			<key>/Users/peternguyen/Library/Application Support/MacPhun Software/Aurora HDR/History/995CB797-4E88-4DFB-A7F3-07DE55216439/resources/E4D9FA2D-DD3C-46BF-976C-7FC173782DEC.cube</key>
			<string>1A281C5C-264A-49BE-AA05-552AF5DD3FED.cube</string>
			<key>/Users/peternguyen/Library/Mobile Documents/com~apple~CloudDocs/school/Fall2020/Resume/Webpage/nguye359.github.io/img/contacts1.jpeg</key>
			<string>BCD3ABDD-6507-457C-A60B-1E08F7C27E59.jpeg</string>
		</dict>
		<key>currentLevelOfHistory</key>
		<integer>0</integer>
		<key>historyDicts</key>
		<array>
			<dict>
				<key>actionName</key>
				<string>--FORCE SAVE--</string>
				<key>hash</key>
				<string>678392348db949f4da8555a0cfd67e9f:b78f5cf565a344326d423d3b6fb7ce29:0:1</string>
				<key>uuid</key>
				<string>F0D5C058-24C7-4B25-A580-5015C3CA7CB6</string>
			</dict>
		</array>
	</dict>
	<key>MPMainBundleIdentifier</key>
	<string>com.macphun.aurorahdr2019</string>
	<key>MPOriginalImagePath</key>
	<string>/Users/peternguyen/Library/Mobile Documents/com~apple~CloudDocs/school/Fall2020/Resume/Webpage/nguye359.github.io/img/contacts1.jpeg</string>
	<key>MPQuickLookThumbnailSize</key>
	<string>{1500, 997}</string>
	<key>MPSaveHistoryToDocument</key>
	<false/>
	<key>MPdeleteOrigResources</key>
	<false/>
	<key>kMPAurDocumentHDRSettingsKey</key>
	<dict>
		<key>_alignment</key>
		<false/>
		<key>_chromaticAbberationReduction</key>
		<false/>
		<key>_colorDenoise</key>
		<true/>
		<key>_fullOpen</key>
		<false/>
		<key>_ghostAmount</key>
		<integer>1</integer>
		<key>_ghostReduction</key>
		<false/>
		<key>_ghostRefImageIdx</key>
		<integer>0</integer>
		<key>_singleImageToneMapping</key>
		<true/>
	</dict>
	<key>kMPBracketsPaths</key>
	<array>
		<string>/Users/peternguyen/Library/Mobile Documents/com~apple~CloudDocs/school/Fall2020/Resume/Webpage/nguye359.github.io/img/contacts1.jpeg</string>
	</array>
</dict>
</plist>
